@charset "utf-8";
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,img,a,p{margin:0; padding:0; list-style:none; border:none; text-decoration:none; color:#3d3d3d;}
a:hover{text-decoration: none;}

.head, .top, .banner, .con{width: 100%; max-width: 1200px;}
.sub, {width: auto;}
html, body, .head, .sub, .banner, .con, .con .dh, .floor1, .floortwo .bd, .footer  {height: auto;}
.head, .top, .con, .con .right .nr dl dd, .con .right .nr dl dt, .con .dh, .con .dh a.a ul, .floor1, .floor1 .fr, .floortwo, .floortwo .bd, .floortwo .bd ul, .floor1 .fl, .floor1 .fc, .floor1 .fr, .picList li, .pic, .top, .floortwo .leftLoop, .floortwo .bd ul.picList li .title  {overflow: hidden;}

.head, .top {height: 183px; margin: 0px auto 7px auto; background: url(/image/catalog/webdesign/1/1.jpg) center no-repeat; border-radius: 7px; padding: 0px 0px 0px 10px;}

.menu {min-height: 54px; clear: both; margin: 0px auto 7px auto; border-radius: 7px; padding: 0px; background: #0080ff;}
.menu ul{padding: 5px;}
.menu ul li{display: lnline-block; float: left; padding: 5px;}
.menu ul li a{color: #fff; text-align: center; margin: 0px; display: block; padding: 5px; border-radius: 3px;
-moz-transition: background 0.2s ease-in,color 0.2s ease-out;
-webkit-transition: background 0.2s ease-in,color 0.2s ease-out;
-ms-transition: background 0.2s ease-in,color 0.2s ease-out;
-o-transition: background 0.2s ease-in,color 0.2s ease-out;
transition: background 0.2s ease-in,color 0.2s ease-out;}
.menu ul li a:hover{background: #fff;}
.sub {position: relative; z-index:1; display: none; padding: 5px; background: #666; white-space: nowrap;}

#con{padding: 0px 0px 7px 0px;}
.con{margin: 0px auto;}
.con .left{float: left; width: 260px; margin: 0px 10px 0px 0px;}
.con .left .lanmu{margin: 0px; background: #fff;}
.con .left .lanmu h2{height: 30px; line-height: 30px; color: #fff; padding: 10px; background: #0080ff;}

.con .right{float: left; width: 930px; background: #fff; margin: 0px;}
.con .right .title{height: 30px; line-height: 30px; background: #ddd; position: relative;}
.con .right .title span{position:  absolute; height:  30px; line-height:  30px; top:  0; display:  inline-block; right:  4px;}
.con .right .title span a{display: inline-block; margin: 0 6px;}
.con .right .title em{display: inline-block; color: #fff; text-align: center; padding: 0 6px; background: #0080ff; height: 28px; border: 1px solid #3b540a;}
.con .right .nr{line-height: 2em; padding: 10px 15px 20px; box-shadow: 0px 3px 5px #999;}

.con .right .nr dl{border-bottom: 1px dotted #dfdfdf; padding: 0 0 6px; margin-bottom: 6px;}
.con .right .nr dl dd{color: #666; height: 46px;}
.con .right .nr dl dt{height: 26px; line-height: 26px; position: relative; background: url(/images/bg_li.jpg) no-repeat 4px center; padding-left: 12px;}
.con .right .nr dl dt a{font-weight:  normal;}
.con .right .nr dl dt a: hover{text-decoration: underline;}
.con .right .nr dl dt span{height: 24px; display: inline-block; line-height: 24px; background: #eee; padding: 0 4px; position: absolute; top: 1px; right: 0;}

.con .left .lanmu ul{border: 1px solid #ccc; border-top: none; box-shadow: 0px 3px 5px #999; border-bottom: none; padding: 6px 0 0;}
.con .left .lanmu ul li{height: 30px; border-bottom: 1px solid #ccc; line-height: 30px; padding-left: 40px; background: url(../images/bg_lanmuli.png) no-repeat 14px center;}
.con .left .lanmu .lianxi{padding: 15px; line-height: 1.9em;box-shadow: 0px 3px 5px #999;}
.con .dh{padding:  0px 0px 0px 1px;}
.con .dh a.a{background: url(../images/bg_dha.png) no-repeat 0px 0px; width: 239px; cursor: pointer; height: 97px; display: block; margin: 17px 15px 16px 0; float: left;}
.con .dh a: hover{text-decoration: none;}
.con .dh a.a ul{padding: 16px 0 0 12px; height: 74px;}
.con .dh a.a ul li{float: left; text-align: center; color: #fff; line-height: 1.8em;}
.con .dh a.a ul li.li2{width: 132px; padding: 8px 0; text-align: center;}
.con .dh a.a ul li img{width: 87px; height: 56px; border: 1px solid #d6d4d7; border-radius: 1px; cursor: pointer;}
.con .dh a.a ul li span{font: 18px/28px;}

.floor1{margin-bottom: 15px; clear: left;}
.floor1 .fl,.floor1 .fc,.floor1 .fr{height: 209px; box-shadow: 0px 3px 5px #999; background: #fff; margin-bottom: 15px; margin-top: 19px;}
.floor1 .fl{float: left; width: 278px; background: #fff; margin-right: 17px;}
.floor1 .fl h2{height: 30px; line-height: 30px; padding: 6px 8px 0 8px;}
.floor1 .fl .cfcm{width: 245px; height: 157px; margin: 0 0 15px 15px;}
.floor1 .fc{width: 377px; height: 209px; background: #fff; float: left;}
.floor1 .fc ul{padding: 0 14px;}
.floor1 .fc ul li{height: 27px; line-height: 27px; position: relative; border-bottom: 1px dotted #d1d1d1; padding-left: 14px; background: url(/images/bg_li.jpg) no-repeat 4px center;}
.floor1 .fc ul li a{}
.floor1 .fc ul li span{position: absolute; height: 27px; line-height: 27px; top: 0; right: 0;}
.floor1 .fr{width: 312px; float: left; height: 209px; background: #fff;}
.floor1 .fr h3{height: 37px; background: url(../images/bg_h3.jpg) no-repeat 29px center #bdd7a8; line-height: 37px; color: #02793f; font-size: 28px/36px;; padding-left: 73px;}
.floor1 .fr .lxwm{background: url(../images/bg_lxwm.jpg) no-repeat right bottom; height: 128px; line-height: 1.7em; padding: 8px 75px 0 29px;}
.floortwo{margin: 0px 0 0px 0; box-shadow: 0px 3px 5px #999; clear: both; height: 242px; background: #fff;}
.floortwo h2,.floor1 .fc h2,.floor1 .fr h2{height: 30px; line-height: 30px;font-size: 14px;  padding: 6px 8px 0 8px;}
.floortwo h2 span,.floor1 .fl h2 span,.floor1 .fc h2 span,.floor1 .fr h2 span{color: #3d7a13; height: 30px;font-weight: normal;  display: inline-block; width: 74px; text-align: center; line-height: 28px; font-size: 16px;}
.floortwo h2 em,.floor1 .fl h2 em,.floor1 .fc h2 em,.floor1 .fr h2 em{color: #969696;}
.floortwo h2 a,.floor1 .fl h2 a,.floor1 .fc h2 a,.floor1 .fr h2 a{display: block; height: 30px; float: left; line-height: 30px; *margin-top: -32px; color: #838383; padding-right: 14px;}
.floortwo .bd{width: 970px;}
.floortwo .bd ul.picList li{float: left; margin-right: 16px; width: 179px;}
.floortwo .bd ul.picList li .pic{width: 173px; height: 132px; padding: 2px;border: 1px solid #e1e1e1;}
.floortwo .bd ul.picList li .pic a{}
.floortwo .bd ul.picList li .pic a img{width: 173px; height: 132px;
	 transition: all 0.3s linear 300ms;
	 -ms-transition: all 0.3s linear 300ms;
	 -moz-transition: all 0.3s linear 300ms;
	 -webkit-transition: all 0.3s linear 300ms;
	 -o-transition: all 0.3s linear 300ms;}
.floortwo .leftLoop{width: 970px; padding-left: 15px; *padding-left: 6px; margin-top: 12px; margin-bottom: 16px;}
.floortwo .bd ul.picList li .pic img: hover{-ms-transform: rotate(5deg) scale(1.2); /* IE 9 */
-moz-transform: rotate(5deg) scale(1.2); /* Firefox */
-webkit-transform: rotate(5deg) scale(1.2); /* Safari and Chrome */
-o-transform: rotate(5deg) scale(1.2); /* Opera */
transform: rotate(5deg) scale(1.2);}
.floortwo .bd ul.picList li .title{text-align: center; height: 30px; line-height: 30px; margin: 4px 0;}

.footer{clear: both; margin: 0px auto; padding: 0px;}


/****************************News****************************/
.xinwen ul.xw{padding:0px 10px 10px;}
.xinwen ul.xw li{position:relative; height:30px; line-height:30px; border-bottom:1px dotted #ccc; background:url(/images/7--i-1.jpg) no-repeat 4px center; padding:0 0 0 19px;}
.xinwen ul.xw li:hover{background:url(/images/7--i-1.jpg) no-repeat 4px center #ddd; border-radius:2px;}
.xinwen ul.xw li a:hover{color:#c52d28; text-decoration:underline;}
.xinwen ul.xw li span{position:absolute; top:0; right:0; height:30px; line-height:30px; padding:0 6px 0 0; color:#999; font-size:11px;}


/****************************page****************************/

.fenye{height:26px; overflow:hidden; margin:10px 0 15px;  text-align:center; clear:both;}
.fenye ul{height:26px; line-height:26px; text-align:center; display:inline-block; *padding-left:20px;}
.fenye ul li{float:left; display:inline-block; margin:0 4px 0 0;}
.fenye ul li.thisclass{width:26px; height:26px; font-weight:normal; line-height:26px; border-radius:2px; background:#3b760a; color:#fff;}
.fenye ul li a{display:block; width:24px; height:24px; text-align:center; line-height:24px; border:1px solid #d1d1d1; border-radius:2px;}
.fenye ul li a:hover{color:#fff;background:#3b760a;border-radius:2px; text-decoration:none; border:none; height:26px; line-height:26px; width:26px;}
.fenye ul li span.pageinfo{border:1px solid #dedede; padding:1px 4px; border-radius:2px; font-weight:normal; display:inline-block; line-height:22px; height:22px;}
.fenye ul li span.pageinfo strong{font-weight:normal;}
.fenye ul li.prev,.fenye ul li.next{line-height:24px;}
.fenye ul li.first,.fenye ul li.last{line-height:24px; border:1px solid #dedede; height:24px;border-radius:2px; width:40px;}
.fenye ul li.first a,.fenye ul li.last a{width:40px; border:none}
.fenye ul li.first a:hover,.fenye ul li.last a:hover{width:40px; border:none; height:24px; line-height:24px;}
.fenye ul li.prev a,.fenye ul li.next a{width:66px;}
.fenye ul li.prev a:hover,.fenye ul li.next a:hover{width:68px; height:26px;}


/****************************details****************************/

.news-body{padding:0px 5px 0; height:auto; overflow:hidden; line-height:2.2em;*line-height:2.3em;}
.news-body h1{margin:10px 0 10px; font-size:20px; text-align:center; font-family:"宋体"; font-weight:normal; height:24px; line-height:24px; overflow:hidden; color:#121212;}
.news-body h2{text-align:center; height:20px; font-size:14px; overflow:hidden; line-height:20px; font-family:"宋体";}
.news-body .newsdetail{padding:8px 4px;}
.news-body .newsdetail img{max-width:722px;}
.context{border-top:1px dotted #838383; padding:10px 0 0 0; margin:10px 0 15px ;}
.context ul{padding:0 0 0 10px;}
.context ul li{height:24px; line-height:24px; margin-bottom:2px; overflow:hidden;}
.context ul li a:hover{color:#c52d28; text-decoration:underline;}




/****************************product****************************/
/********************三个**************
.chanpin{padding:0px 0px 0; height:auto; overflow:hidden; line-height:2.2em;*line-height:2.3em;}
.chanpin ul{height:auto; overflow:hidden; padding:6px 0 6px;}
.chanpin ul li{width:224px; float:left; margin:0 27px 0px 0;}
.chanpin ul li a.pic{
	 display:block; padding:1px; 
	 border-radius:6px;
	 border:1px solid #999; 
	 box-shadow:0px 0px 3px #999; width:220px; height:145px;
	 transition:transform 1s;
	 -ms-transition:-ms-transform 1s;
	 -moz-transition:-moz-transform 1s;
	 -webkit-transition:-webkit-transform 1s;
	 -o-transition:-o-transform 1s;
	}
.chanpin ul li a.pic img{
	 width:220px; height:145px; border-radius:6px;
	}
.chanpin ul li a.pic:hover{
	opacity:0.8;
	filter:alpha(opacity=80)


}
.chanpin ul li a.pic:hover img{}
.chanpin ul li p{margin:4px 0; height:22px; line-height:22px; overflow:hidden; text-align:center;}
.chanpin ul li p a:hover{ text-decoration:underline;}
*/





/**************************四个******************************/
.chanpin{padding:0px 0px 0; height:auto; overflow:hidden; line-height:2.2em;*line-height:2.3em;}
.chanpin ul{height:auto; overflow:hidden; padding:6px 0 6px;}
.chanpin ul li{width:167px; float:left; margin:0 12px 0px 0;}
.chanpin ul li a.pic{
	 display:block; padding:0px; 
	 border:1px solid #999; 
	 box-shadow:0px 0px 3px #999; width:163px; height:115px;
	 overflow:hidden;
	}
.chanpin ul li a.pic img{
	 width:163px; height:115px;
	 transition:all 0.3s linear 300ms;
	 -ms-transition:all 0.3s linear 300ms;
	 -moz-transition:all 0.3s linear 300ms;
	 -webkit-transition:all 0.3s linear 300ms;
	 -o-transition:all 0.3s linear 300ms;
	}
.chanpin ul li a.pic img:hover{
-ms-transform:rotate(5deg) scale(1.2); /* IE 9 */
-moz-transform:rotate(5deg) scale(1.2); /* Firefox */
-webkit-transform:rotate(5deg) scale(1.2); /* Safari and Chrome */
-o-transform:rotate(5deg) scale(1.2); /* Opera */
transform:rotate(5deg) scale(1.2);
}
.chanpin ul li a.pic:hover img{opacity:0.8;filter:alpha(opacity=80);}
.chanpin ul li p{margin:4px 0; height:22px; line-height:22px; overflow:hidden; text-align:center;}
.chanpin ul li p a:hover{text-decoration:underline;}




/*******************************onlin message****************************/
.call {}
.call p {line-height:35px; padding-top:8px; clear:both;}
.call p span {float:left; margin-right:8px;}
.call p span b {color:#f46507;}
.call input.text_inaa,.call textarea{
	border:1px solid #aaa; 
	padding:2px; 
	transition:all 0.3s ease-in-out 0s;
	-moz-transition:all 0.3s ease-in-out 0s;
	-o-transition:all 0.3s ease-in-out 0s;
	-ms-transition:all 0.3s ease-in-out 0s;
	-webkit-transition:all 0.3s ease-in-out 0s;
	border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}
.call input.text_inaa:hover{border:1px solid #3b760a;}
.call input.text_inaa:focus{border:1px solid #3b760a; box-shadow:0px 1px 4px #3b760a;}
.call textarea:hover{border:1px solid #3b760a;}
.call textarea:focus{border:1px solid #3b760a; box-shadow:0px 1px 8px #3b760a;}
.call p i {font-weight: normal; font-style: normal; padding-left:8px;}
.textarea {width:305px; height:70px;}
.text_inaa {width:176px;}
.text_in1 {width:70px;}
.button_in {background: url(/images/yezhen_in.jpg) no-repeat 0px 0px #3b760a; border-radius:2px; color:#fff; width:68px; height:28px; border:none; cursor:pointer;}
.submit_youin {padding-left:76px;}
.call p.submit_youin input.botton_in{border:none;}
.call p.submit_youin input.botton_in:hover{border:none;}








/****************************qq客服代码****************************/
.qqserver p img{display:inline;margin:-5px 5px 0 0;vertical-align:middle;}
.qqserver p a{margin:0;}
.scrollsidebar{position:absolute;z-index:999;top:220px;}
.side_content{width:167px;height:auto;overflow:hidden;float:left;}
.side_content .side_list{width:167px;overflow:hidden;}
.show_btn{width:0;height:144px;overflow:hidden;margin-top:50px;float:left;cursor:pointer;}
.show_btn span{display:none;}
.close_btn{width:24px;height:24px;cursor:pointer;}
.side_title,.side_bottom,.close_btn,.show_btn{background:url(/images/sidebar_bg.png) no-repeat;}
.side_title{height:46px;}
.side_bottom{height:8px;}
.side_center{font-family:Verdana, Geneva, sans-serif;padding:10px 12px 5px 12px;font-size:12px;}
.close_btn{float:right;display:block;width:19px;height:19px;margin:16px 7px 0 0;_margin:16px 3px 0 0;}
.close_btn span{display:none;}
.side_center .qqserver p{text-align:left;padding:6px 0;margin:0;vertical-align:middle;}
.phoneserver {font-size:14px;text-align:center;}
.phoneserver p{padding:2px 0;_height:16px;margin:0;color:#666666;}
.msgserver{border-top:1px dotted #ccc;text-align:center;margin-top:6px;padding:10px 0 3px 0; background: url(/image/catalog/logo/wechat/1.gif) no-repeat 20px 10px; height:120px;}
.msgserver a{background:url(/images/sidebar_bg.jpg) no-repeat -119px -154px;padding:3px 0 3px 23px;}
.side_content hr{border-bottom:1px solid #E6E6E6;height:1px;margin:10px 0;clear:both;}


/* gray skin as the default skin */
.side_title, .side_gray .side_title{background-position:-682px 0;}
.side_center, .side_gray .side_center{background:url(/images/gray_line.jpg) repeat-y center;}
.side_bottom, .side_gray .side_bottom{background-position:-682px -60px;}
.close_btn, .side_gray .close_btn{background-position:-44px -91px;}
.close_btn:hover, .side_gray .close_btn:hover{background-position:-65px -91px;}
.show_btn , .side_gray .show_btn{background-position:-255px 0;}
.msgserver a, .side_gray .msgserver a{color:#6c6c6c;}
hr, .side_gray hr{border-bottom:1px solid #e4e4e4;}

/* blue skin  */
.side_blue .side_title{background-position:-333px 0;}
.side_blue .side_center{background:url(/images/blue_line.jpg) repeat-y center;}
.side_blue .side_bottom{background-position:-333px -60px;}
.side_blue .close_btn{background-position:-44px 0;}
.side_blue .close_btn:hover{background-position:-65px 0;}
.side_blue .show_btn{background-position:-119px 0;}
.side_blue .msgserver a{color:#06C;}
.side_blue hr{border-bottom:1px solid #dbe4e9;}

/* orange skin  */
.side_orange .side_title{background-position:-333px -76px;}
.side_orange .side_center{background:url(/images/orange_line.jpg) repeat-y center;}
.side_orange .side_bottom{background-position:-333px -136px;}
.side_orange .close_btn{background-position:-44px -23px;}
.side_orange .close_btn:hover{background-position:-65px -23px;}
.side_orange .show_btn{background-position:-153px 0;}
.side_orange .msgserver a{color:#ff9a00;}
.side_orange hr{border-bottom:1px solid #feefde;}

/* green skin  */
.side_green .side_title{background-position:-505px 0;}
.side_green .side_center{background:url(/images/green_line.jpg) repeat-y center;}
.side_green .side_bottom{background-position:-505px -60px;}
.side_green .close_btn{background-position:-44px -45px;}
.side_green .close_btn:hover{background-position:-65px -45px;}
.side_green .show_btn{background-position:-187px 0;}
.side_green .msgserver a{color:#68c40b;}
.side_green hr{border-bottom:1px solid #edf2e5;}

/* red skin  */
.side_red .side_title{background-position:-505px -76px;}
.side_red .side_center{background:url(/images/red_line.jpg) repeat-y center;}
.side_red .side_bottom{background-position:-505px -136px;}
.side_red .close_btn{background-position:-44px -67px;}
.side_red .close_btn:hover{background-position:-65px -67px;}
.side_red .show_btn{background-position:-221px 0;}
.side_red .msgserver a{color:red;}
.side_red hr{border-bottom:1px solid #f7f5df;}


/* pink skin  */
.side_pink .side_title{background-position:-682px -76px;}
.side_pink .side_center{background:url(/images/pink_line.jpg) repeat-y center;}
.side_pink .side_bottom{background-position:-682px -136px;}
.side_pink .close_btn{background-position:-44px -112px;}
.side_pink .close_btn:hover{background-position:-65px -112px;}
.side_pink .show_btn{background-position:-289px 0;}
.side_pink .msgserver a{color:#ed0652;}
.side_pink hr{border-bottom:1px solid #e4e4e4;}

/*****************************首页产品轮播图**********************************/
.focus {width: 100%; height: auto; position: relative;}
.f970x280 {width: 100%; height: auto; overflow: hidden}
.f970x280 img {width: 100%; height: auto;}
.rslides {width: 100%; position: relative; list-style: none; padding: 0px;}
.rslides_nav {height: 51px; width: 31px; position: absolute; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); top: 50%; left:0; opacity: 0.5; filter:alpha(opacity=50); text-indent:-9999px; overflow: hidden; text-decoration: none; background: url(/images/i.png) no-repeat 0 center bottom; margin: 0px}
.rslides_nav:active {opacity:0.8;filter:alpha(opacity=80);}
.rslides_nav.next {left:auto; background-position:-31px bottom; right:0}
.rslides_tabs {position: absolute; left: 10px; bottom: 10px; margin: 0px auto; clear: both; text-align:center}
.rslides_tabs li {display:inline; float:left; margin-right:10px}
.rslides_tabs a {text-indent:-9999px; overflow:hidden; background: url(../images/bg_lioff.png) no-repeat 0px 0px; display: block; width:13px; height:13px}
.rslides_tabs .rslides_here a {background:url(/images/bg_lion.png) no-repeat 0px 0px;  *background:url(/images/bg_lion1.png) no-repeat 0px 0px;}